beautifulsoup4==4.9.3
certifi==2022.9.24
chardet==3.0.4
dpkt==1.9.8
geoip2==3.0.0
idna==2.10
IPy==1.1
kamene==0.32
lxml==4.9.1
maxminddb==2.2.0
MechanicalSoup==0.12.0
pexpect==4.8.0
Pillow==9.2.0
ptyprocess==0.6.0
PyPDF4==1.27.0
python-nmap==0.6.4
requests==2.23.0
scapy==2.4.5
six==1.16.0
soupsieve==2.3.2.post1
urllib3==1.25.11
