async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.9.3
certifi==2022.9.24
cffi==1.15.1
chardet==3.0.4
comtypes==1.1.14
cryptography==37.0.4
dpkt==1.9.8
geoip2==3.0.0
h11==0.13.0
idna==2.10
IPy==1.1
kamene==0.32
lxml==4.9.1
maxminddb==2.2.0
MechanicalSoup==0.12.0
outcome==1.2.0
pexpect==4.8.0
Pillow==9.2.0
ptyprocess==0.6.0
pycparser==2.21
pyOpenSSL==22.0.0
PyPDF4==1.27.0
PySocks==1.7.1
python-nmap==0.6.4
pywifi==1.1.12
requests==2.23.0
scapy==2.4.5
selenium==3.14.0
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
termcolor==2.0.1
trio==0.21.0
trio-websocket==0.9.2
urllib3==1.25.11
wsproto==1.1.0
